<ion-header>
  <ion-navbar color="primary">
    <ion-title>รายชื่อลูกค้า</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="page-home">

  <ion-fab right bottom>
    <button ion-fab color="danger" (click)="add()"><ion-icon name="person-add"></ion-icon></button>
  </ion-fab>
  <ion-toolbar color="primary">
    <ion-searchbar (ionInput)="search($event)" (ionClear)="getCustomers()" debounce="1000"></ion-searchbar>
  </ion-toolbar>
  <ion-list no-lines>
    <!--<ion-list-header>Customer list</ion-list-header>-->
    <button ion-item (click)="showMenu(customer)" *ngFor="let customer of customers">
      <ion-thumbnail item-left>
        <img [src]="customer.image" *ngIf="customer.image">
      </ion-thumbnail>
    <h1>{{ customer.first_name }} {{ customer.last_name }}</h1>
    <p>
      {{ customer.email }}
    </p>
  </button>

  </ion-list>
</ion-content>
